html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

nav {
  width: 100%;
  background: #f0f0f0;
  border-right: none;
}

nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  float: left;
  text-align: center;
  width: 16.6667%;
  width: calc(100% / 6);
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}

nav ul li:hover {
  background-color: rgb(255, 104, 0);
}

nav ul li:nth-child(n) {
  border-left: 1px solid rgb(255, 104, 0);
}

nav ul li:nth-child(n) {
  border-right: 1px solid rgb(255, 104, 0);
}

nav ul li:first-child {
  border-left: none;
}

nav ul li:last-child {
  border-right: none;
}

td {
  padding: 5px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 0;
}

tr td:nth-child(2n+1) {
  text-align: right;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  width: 15px;
}

.input-sum {
  background: transparent;
  border: none;
}

input[type="range"] {
  outline: none;
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  border: 2px solid rgb(0, 0, 0);
  height: 6px;
  width: 200px;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0.50, #00d936), color-stop(0.50, #000000));
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #E9E9E9;
  border: 1px solid #4e4b4b;
  border-radius: 8px;
  height: 8px;
  width: 8px;
}

input[type='radio']:after {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  top: -2px;
  left: 2px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

input[type='radio']:checked:after {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  top: -2px;
  left: 2px;
  position: relative;
  background-color: rgb(0, 110, 255);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

#button-sum {
  outline: none;
  padding: 3px;
  border-color: #c7df00;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 10px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: rgb(82, 80, 80);
  background-color: #c7cf33;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c7cf33), to(#78bb0b));
  background-image: -webkit-linear-gradient(top, #c7cf33, #78bb0b);
  background-image: -moz-linear-gradient(top, #c7cf33, #78bb0b);
  background-image: -ms-linear-gradient(top, #c7cf33, #78bb0b);
  background-image: -o-linear-gradient(top, #c7cf33, #78bb0b);
  background-image: linear-gradient(to bottom, #c7cf33, #78bb0b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#A5B8DA, endColorstr=#7089B3);
}

#button-sum:hover {
  border-color: #c7cf33;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: #9ea427;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ea427), to(#5f9409));
  background-image: -webkit-linear-gradient(top, #9ea427, #5f9409);
  background-image: -moz-linear-gradient(top, #9ea427, #5f9409);
  background-image: -ms-linear-gradient(top, #9ea427, #5f9409);
  background-image: -o-linear-gradient(top, #9ea427, #5f9409);
  background-image: linear-gradient(to bottom, #9ea427, #5f9409);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#819BCB, endColorstr=#536F9D);
}

.phone-label {
  margin: auto 0;
}

.phone-label>p {
  margin: 0px;
  font-family: Times, Times New Roman, serif;
  padding: 0px 8px 0px 8px;
  color: rgb(249, 78, 15);
}

.label-result {
  margin: 0px 0px 0px 20px;
  color: rgb(36, 98, 39);
  font-size: 12px;
}

.logo-label {
  margin: auto 0;
}

.logo-label>p {
  margin: 0px;
  padding: 0px 0px 0px 8px;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: 60px;
}

.calculator {
  width: 50%;
  background-color: rgb(210, 210, 210);
  margin: 15px 15px 15px 45px;
  padding: 5px;
}

.calculator table tr td {
  padding: 12px;
  font-size: 12px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 60px;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  float: left;
  text-align: center;
  box-sizing: border-box;
}

.footer ul li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 10px 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#breadcrumbs {
  background: #eee;
  overflow: hidden;
  width: 100%;
}

#breadcrumbs li {
  float: left;
}

#breadcrumbs li:before {
  content: '-';
}

#breadcrumbs li:last-child:before {
  content: '';
}

#breadcrumbs a {
  padding: 2px 5px;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
}
